html, body{
	padding: 0;
	margin: 0;
}
body{
	font-family: Roboto;
	background-color: #E3F2FD;
	color: #FFF;	
}
h1{
	margin-top:0px;
}

nav{
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	height: 70px;
	width: 100%;
	background-color:#0D47A1;
	display: flex;
	box-shadow: 0px 3px 3px rgba(100, 100, 100, 0.5);
}

#logo img{
	padding: 11px 1em;
}

nav ul{
	display: flex;
	list-style: none;
	font-size: 1.2rem;
	margin: 0;
	padding: 0;
	justify-content: flex-end;
	background-color: #0D47A1;
}
nav ul li a{
	padding: 0.6rem;
}

nav a{
	text-decoration: none;
	color: #FFF;
	display: block;
}
main{
	background-color: #fff;
    box-shadow: 0px 3px 8px rgba(100, 100, 100, 0.5);
    border-radius: 3px;
	min-height: 240px;
	width: 95%;
	margin: calc(80px + 17vw) auto;
	color: #0D47A1;
}

header{    
    z-index: 3;
	position: relative;
	text-align: center;	
}

section{
	padding: 1em;
	font-size: 1.2em;
}

#mail{
	position: fixed;
	bottom: 1em;
	right: 1em;
	height: 50px;
	width: 50px;
	z-index:11;
	background-color:#0D47A1;
	border-radius: 50%;
	text-align: center;
	box-shadow: 0px 3px 3px rgba(100, 100, 100, 0.5);
}

#mail img{
	padding-top: 10px;
	height: 32px;
	width: 32px;
	transition-duration: 650ms;
	transform-origin: center 60%;
	transition-timing-function: ease-in-out;
}

.main-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1em;
}

.main-grid figure{
	position: relative;
	cursor: pointer;
	margin: 0;
	padding: 0;
	height: 40vh;
}

.main-grid figure img{
	object-fit: cover;
	width: 100%;
	height: 40vh;
}

.main-grid figure figcaption{    
	position: absolute;
    bottom: 0;
    background-color: rgba(100, 100, 100, 0.5);
    width: calc(100% - 1em);
    padding: 0.1em 0.5em;
	font-size: 1.5em;
	color: white;
	font-weight: bold;
}

.year {
	background-color: #2196F3;
    float: right;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1rem;
}

.imgPort, .imgRec{
	float:right; 
	border-radius: 5px;
	width: 100px;
	height: auto;
}

#css-features{
	display: none;
    background-color: red;
    font-size: 2em;
    min-height: 100px;
    padding: 2em;
    text-align: center;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 15;
}	
@supports (-ms-ime-align: auto) {
/* Microsoft EdgeV13&14 CSS styles go here */
#css-features{
	display: block;
}	
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
/* IE10 & IE11 CSS styles go here */
#css-features{
	display: block;
}	
}	

#logo img{
	transition-duration: 600ms; 
	filter: drop-shadow( 0px 0px 5px rgba(150, 150, 150, 0.5));
	animation: moveDropShadow;
	animation-delay: 0;
	animation-play-state: running;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

#logo img:hover{
	animation: none;
	filter: drop-shadow( 0px 0px 10px rgba(150, 150, 150, 0.8));
}

@keyframes moveDropShadow{
	0%{
		filter: drop-shadow( 0px 0px 5px rgba(150, 150, 150, 0.5));
	}
	50%{
		filter: drop-shadow( 0px 0px 10px rgba(150, 150, 150, 0.5));
	}
	100%{
		filter: drop-shadow( 0px 0px 5px rgba(150, 150, 150, 0.5));
	}
}

.logo{
	width:100%;
	height:auto;
}

main .link {
    text-decoration: none;
    font-weight: bold;
    color: #0D47A1;
}

main .link:before {
    content: "\260D";
    padding-right: 0.3em;
}

#mail img:hover{
	transform: rotate(360deg) scale(1.25) translateY(-1px); 
}

.borderRadius{
	border-radius: 15px;
	box-shadow: 0px 3px 3px rgba(100, 100, 100, 0.5);
}

.responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}

.main-grid figure:hover {
	transform: scale(1.05);
    transition: 500ms;
}

#overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #ccc;
	opacity:0.5;
	width: 100%;
	height: 100vh;
	z-index: 4;	
}



@media screen and (max-width: 1023px){
	#mobileMenu{
		background-image: url("../img/mobileMenu.svg");
		background-size: 48px 48px;
		height: 48px;
		width: 48px;
		margin: 0.7em;
	}
	nav .menu{
		position: fixed;
		top: 70px;
		border-bottom-right-radius: 1em;
		box-shadow: 0px 3px 3px rgba(100, 100, 100, 0.5);
	}

	nav ul ul li a {
		padding-left: 1.2rem;
	}

	nav ul.mobNavShow{
		transform: translateX(0);
	}
	
	.active{
		border-right: 5px solid #fff;
		background-color: rgba(100,100,100,0.5);
	}

    nav{
		justify-content: space-between;
    }
    nav ul{
		flex-direction: column;
		transform: translateX(-100vw);
		transition: 300ms;
    }
    
    header img{
		width: 50vw;
		height: 50vw;
		max-width: 15rem;
		max-height: 15rem;
		border-radius: 50%;
		object-fit: cover;
		border: 5px solid #fff;
		margin-top: calc(-17vw + -5px);
		box-shadow: 0px 3px 3px rgba(100, 100, 100, 0.5);
	}

	#title{
		font-weight: bold;
		border-bottom: 1px solid #ccc;
		padding: .5rem;
		box-shadow: 0 3px 5px #ccc;
		letter-spacing: .1em;
	}
}

@media screen and (min-width: 1024px){
	nav ul li:hover{
		transition: all 300ms;
		color: #ccc;
		border-bottom: 5px solid #ccc;
	}
	nav ul ul{
		background-color: #fff;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		box-shadow: 0px 3px 3px rgba(100, 100, 100, 0.5);
	}
	nav ul ul a{
		color: #0D47A1;
	}
	nav ul ul li{
		border-bottom: 5px solid #fff;
	}
	nav ul ul li:hover{
		color: #0D47A1;
		border-color: #0D47A1;
	}

	nav ul li:hover ul{
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0;
		padding-bottom: 1em;
	}
	
	ul li.active{
		border-bottom: 5px solid #fff;
	}

	ul ul li.active{
		border-color: #0D47A1;
	}

    #mobileMenu{
		display: none;
	}
	nav ul li a{
		padding-bottom: calc(1.2em - 4px);
		padding: 1.44rem;
	}

	nav ul li.sub:before{
		content: '';
		float: right;
		position: relative;
		top: 1.44rem;
		left: 0.15em;
		height: 0.45em;
		width: 0.45em;
		border-style: solid;
		border-width: 0.25em 0.25em 0 0;
		transform: rotate(135deg);
    }
    nav ul ul{
		display: none;
    }
    main{
		width: 1000px;
		margin: 80px auto;
		overflow: auto;
	}

	header{
		background-color: #0D47A1;
		display: flex;
	}
	
	header img{
		clip-path: polygon(0 0, 100% 0, 100% 87.5%, 0 100%);
	}

	#title{
		position: absolute;
		bottom: 0.8em;
		right: 0.8em;
		color: #fff
	}
	
	section{
		padding: 2em;
	}

	.imgPort, .imgRec{
		width: 200px;
	}
	.main-grid{
		grid-template-columns: 1fr 1fr;
	}
	.main-grid figure, .main-grid figure img{
		height: 30vh;
	}
}